# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
.venv

# IDE
.vscode/
.idea/
*.swp

# Automator (au cas où tu veux versionner l'app aussi)
*.app/Contents/MacOS/*
